body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    /* padding: .5rem; */
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    

}
.nav-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    gap: 2rem;
}
.svg{
    fill: #000;
}
.nav-items{
    list-style: none;
    font-size: 1rem;
}
.nav-btn{
    padding: .7rem;
    background: #fff;
    border-radius: 3rem;
    color: #000;
     border: 1px solid black; /* Change to none After you add image */
    font-weight: 600;
}
.section{
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.section h1{
    font-size: 4rem;
}
.section .container{
    position: relative;
}
.section .container input{

    width: 250px;
    /* max-width: 100%; */
    min-height: 2.5em;
    padding: .5rem;
    border-radius: 15px;
}
.circle{
    background: #f00;
    position: absolute;
    right: 2%;
    top: 20%;
    padding: .5rem;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
}
.items{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap:5rem;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.item a{
    color: rgb(235, 23, 0);
    font-weight: 600;
    text-decoration: none;
}
.item .item-content h2{
    font-size: 2rem;
}
.item .item-content p{
    font-size: 1.5rem;
}
.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products-container{
    display: flex;
    padding: 3rem;
    gap: 6rem;
}
.products-container .products-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products-container .products-content h1{
    font-size: 3rem;
    font-weight: 600;
}
.products-container .products-content p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}
.products-container .products-content button{
    padding: .7rem;
    border: none;
    background-color: rgb(235, 23, 0);
    max-width: 140px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 3rem;
}